<div class="container mt-5">
  <div class="entete_style">
    <div class="row">
      <div class="col-9">
        <span>MINISTÈRE DE L'EDUCATION NATIONALE </span><br>
        <span class="ms-4"> **************</span><br>
        <span>CENTRE NATIONAL DES EXAMENS ET CONCOURS DE L'EDUCATION</span><br>
        <span  class="ms-4"> **************</span><br>
        <span>ACADÉMIE D'ENSEIGNEMENT DE SEGOU</span><br>
        <span  class="ms-4"> **************</span><br>
        <span class=""><b>POLE DE CORRECTION DE SEGOU</b></span>
      </div>
      <div class="col-3">
        <p>REPUBLIQUE DU MALI</p>
        <p> Un Peuple-Un But-Une Foi</p>
      </div>
    </div>
  </div>
  <h2 class="text-center mt-4">RESULTATS DE BACCALAUREAT MALIEN <span *ngIf="etudiant">SESSION {{etudiant.session}}</span></h2>
  <div class="mt-4 mb-5">
    <form [formGroup]="forms">
      <div class="row">
        <div class="col-4">
          <input type="text" class="form-control" placeholder="Numero de place" formControlName="numPlace">
        </div>
        <div  class="col-4">
          <input type="text" class="form-control" placeholder="Session Ex: 2022" formControlName="session">
        </div>
        <div class="col-4">
          <input type="text" class="form-control" placeholder="Academie Ex:SEGOU" formControlName="academie">
        </div>
      </div>
      <div class="">
        <button class="btn btn-outline-success mt-2" (click)="chercherResultat()">Chercher</button>
      </div>
    </form>
  </div>
    <div >
      <table class="table  table-bordered">
        <thead >
        <tr  class="table-dark">
          <th>N°PL</th>
          <th>PRENOMS</th>
          <th>NOM</th>
          <th>SEXE</th>
          <th>ANNEE NAISSANCE</th>
          <th>ETABLISSEMENT</th>
          <th>ACADEMIE</th>
          <th>STATUT ELEVE</th>
          <th>MENTION</th>
        </tr>
        </thead>
        <tbody *ngIf="etudiant">
        <tr  class="table-success">
          <td>{{etudiant.numPlace}}</td>
          <td>{{etudiant.lastName}}</td>
          <td>{{etudiant.name}}</td>
          <td>{{etudiant.sexe}}</td>
          <td>{{etudiant.annnee_naissance}}</td>
          <td>{{etudiant.etablissement}}</td>
          <td>{{etudiant.academie}}</td>
          <td>{{etudiant.statut}}</td>
          <td>{{etudiant.mention}}</td>
        </tr>
        </tbody>
      </table>
    </div>
</div>
