.entete_style {
  padding: 10px;
  background-image: url("src/assets/igms/img.png");
  opacity: 0.7;
  border-radius: 10px;
  box-shadow: 10px 10px 5px lightblue inset;
  color: white;
}
.spinner-border{
  width: 70px;
  height: 70px;
  color: #a3cfbb;
}
.footer{
  background-color: #abbece;
  box-shadow: 10px 10px 5px lightblue inset;
}
ul li a i{
  color: white;
  margin-top: 15px;
  margin-bottom: 20px;
  position: center;
  font-size: 50px;
}

.youtube a i:hover {
  color: red;
}

.twitter a i:hover {
  color: blueviolet;
}

.facebook a i:hover {
  color: blue;
}

.instagram a i:hover {
  color: #7c3a7e;
}

.linkedin a i:hover {
  color: blue;
}

.whatsapp a i:hover {
  color: green;
}

.footer-heading {
  color: white;
}

@media (max-width: 450px) {
  .table {
    font-size: 5px;
  }

  .container {
    margin: 0;
  }

  .entete_style {
    font-size: 5px;
  }

  .div-size {
    font-size: 10px;
  }
  ul li a i{
    color: white;
    margin-top: 15px;
    margin-bottom: 20px;
    position: center;
    font-size: 25px;
  }
}
